/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

img{
    max-width: 100%;
    height: auto;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Nunito', sans-serif;
}

p{
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

a,
a:hover, 
a:focus,
a:visited{
    text-decoration: none;
    color: #FFF;
}

ul li{
    display: inline-block;
}

/**********************************************
                HELPER CLASSES
**********************************************/

.m-b-0{
    margin-bottom: 0!important;
}

.m-10{
    margin: 10px!important;
}

.m-30{
    margin: 30px!important;
}

.m-50{
    margin: 50px!important;
}

.m-70{
    margin: 70px!important;
}

.m-90{
    margin: 90px!important;
}

.m-100{
    margin: 100px!important;
}

.m-120{
    margin: 120px!important;
}

.m-t-10{
    margin-top: 10px!important;
}

.m-t-30{
    margin-top: 30px!important;
}

.m-t-50{
    margin-top: 50px!important;
}

.m-t-70{
    margin-top: 70px!important;
}

.m-t-90{
    margin-top: 90px!important;
}

.m-t-100{
    margin-top: 100px!important;
}

.m-t-120{
    margin-top: 120px!important;
}

.m-b-10{
    margin-bottom: 10px!important;
}

.m-b-20{
    margin-bottom: 20px!important;
}

.m-b-30{
    margin-bottom: 30px!important;
}

.m-b-50{
    margin-bottom: 50px!important;
}

.m-b-70{
    margin-bottom: 70px!important;
}

.m-b-90{
    margin-bottom: 90px!important;
}

.m-b-100{
    margin-bottom: 100px!important;
}

.m-b-120{
    margin-bottom: 120px!important;
}

.m-lr-120{
    margin: 0 120px!important;
}

.p-0{
    padding: 0!important;
}

.p-100{
    padding: 100px!important;
}

.p-t-0{
    padding-top: 0!important;
}

.p-t-10{
    padding-top: 10px!important;
}

.p-t-20{
    padding-top: 20px!important;
}

.p-t-100{
    padding-top: 100px!important;
}

.p-b-0{
    padding-bottom: 0!important;
}

.p-b-100{
    padding-bottom: 100px!important;
}

.p-r-0{
    padding-right: 0!important;
}

.p-r-100{
    padding-right: 100px!important;
}

.p-l-0{
    padding-left: 0!important;
}

.p-l-20{
    padding-left: 20px!important;
}

.p-l-100{
    padding-left: 100px!important;
}

.p-200{
    padding: 0 200px!important;
}

/**********************************************
               CONTENT BOXES
**********************************************/

.content-box-lg{
    padding: 120px 0;
}

.content-box-md{
    padding: 100px 0;
}

.content-box-sm{
    padding: 90px 0;
}

.content-box-xs{
    padding: 30px 0;
}

.heading h5{
    font-size: 13px;
    letter-spacing: 2px;
    color: #252525;
    font-family: "Nunito";
    font-weight: 700;
    text-transform: uppercase;
}

.heading h2{
    font-size: 36px;
    letter-spacing: -2px;
    color: #252525;
    font-family: "Nunito";
    font-weight: 600;
    margin-bottom: 0;
}

.heading .italic{
    font-family: "Libre Baskerville";
    font-style: italic;
    font-weight: 400;
}

.heading .highlight-heading{
    color: #ffa502;
}

.text{
    text-align: justify;
}

.heading .white{
    color: #FFF;
}

.btn.btn-general{
    text-transform: uppercase;
    border-radius: 3px;
    background-color: #ffa502;
    font-size: 12px;
    color: #fefefe;
    font-family: "Rubik";
    padding: 10px 30px;
}

.btn.btn-rounded{
    border-radius: 25px;
    box-shadow: 0 0 10.5px rgba(204,204,223,0.5);
}

/*******************************************
***************** HEADER *******************
*******************************************/

#head header,
#course-head header,
#contact-head,
#about-head header{
    background-color: #ffa502;
    padding-top: 10px;
}

#head{
    min-height: 100vh;
    height: 100vh;
}

#head,
#course-head,
#contact-head #slider,
#about-head{
    background: #333;
    background: url("../assets/images/background.png") no-repeat;
}

#course-head,
#course-head,
#contact-head #slider,
#about-head{
    background: url("../assets/images/background-2.png") no-repeat;
}

.line{
    display: inline-block;
    background-color: #ffa502;
    width: 40px;
    height: 1px;
    margin: 0 5px 10px 0;

}

p.inline-block{
    display: inline-block;
}

.image-overlay{
    background: url("../assets/images/logo.png") no-repeat;
}

.contact-details span{
    font-size: 14px;
    color: #FFF;
    margin-right: 20px;
    line-height: 40px;
}

#social-list{
    margin-top: 10px;
}

.social-icons li a{
    color: #FFF;
    margin: 10px;
}

.social-icons.dark-icons li a{
    color: #333;
}

.contact-details .social-icons li a{
    color: #AAA;
    font-size: 16px;
}

.contact-details .social-icons li.active a{
    color: #ffa502;
}

/*******************************************
***************** NAVBAR *******************
*******************************************/

.navigation{
    padding: 20px;
}

.navigation .navbar a{
    color: #FFF;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 55px;
}

hr{
    background: #AAA;
    margin-left: 30px;
    margin-right: 30px;
}

/*******************************************
*************** NAV BUTTONS ****************
*******************************************/

.buttons{
    position: relative;
}

.buttons div{
    position: absolute;
    border-radius: 50%;
    background-color: #dfdfdf;
    width: 60px;
    height: 60px;
    top: 300px;
    left: -160px;
}

.buttons div.next{
    left: 1180px;
    width: 110px;
    height: 60px;
    border-radius: 30px;
    background-color: #464646;
}

.buttons div i{
    position: absolute;
    left: 20px;
    line-height: 60px;
    color: #FFF;
}

.buttons div.next span, 
.buttons div.next span i{
    position: absolute;
    top: 20px;
    left: 20px;
    color: #FFF;
}

.buttons div.next span i{
    left: 50px;
    top: -18px;
}

/*******************************************
***************** SLOGAN *******************
*******************************************/

.slogan-wrapper{
    padding: 40px 30px;
}

.slogan-wrapper p{
    font-size: 32px;
    color: #FFF;
    font-family: "Nunito";
    font-weight: 900;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.slogan-wrapper .important-text{
    color: #ffa502;
    margin-bottom: 10px;
}

.slogan-wrapper p.admission-info{
    color: #ffffff;
    font-family: "Rubik";
    font-weight: 500;
}

.slogan-wrapper p.text{
    font-size: 16px;
    line-height: 24px;
    color: #fefefe;
    font-family: "Libre Baskerville";
    font-weight: 400;
    font-style: italic;
    text-transform: none;
}

#university-video{
    width: 95%;
    margin-left: 2.5%;
    margin-top: 1.3%;
}

.frame{
    box-shadow: 0 0 10.5px rgba(204,204,223,0.5);
    background-color: #f9f9f9;
}

#courses{
    background-color: #edf1ff;
}

#courses.white{
    background-color: #FFF;
}

.card-content{
    background: #FFF;
    padding: 20px;
}

.card-image{
    padding-bottom: 5%;
    position: relative;
}

.badge:before{
    content: "";
    border-top: 10px solid transparent;
    border-left: 15px solid #eccc68;;
    border-right: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: -10px;
}

.badge{
    position: absolute;
    border-radius: 0;
    background: #ffa502;
    top: 10px;   
    right: -15px;
    color: #FFF;
    font-size: 14px;
    font-family: "Rubik";
    font-weight: 500;
    padding: 0 15px;
    height: 30px;
}

.badge p{
    margin-bottom: 0!important;
    line-height: 30px;
}

.card-image img{
    width: 100%;
}

.card-text{
    font-size: 16px;
    color: #9599a2;
    font-family: "Nunito";
    font-weight: 400;
}

.card-content h3{
    font-size: 18px;
    color: #252525;
    font-family: "Nunito";
    font-weight: 700;
}

.stars,
.comments{
    margin-right: 10px;
}

.comments,
.heart{
    font-size: 16px;
    color: #9599a2;
    font-family: "Rubik";
    font-weight: 300;
}

.person img{
    border-radius: 50%;
}

.border-right{
    border-right: solid 2px #CCC;
}

.course-info h2{
    font-size: 14px;
    line-height: 24px;
    color: #252525;
    font-family: "Rubik";
    font-weight: 500;
}

.course-info h5{
    color: #9599a2;
    font-size: 12px;
}

/**********************************************
                  COLOR 
**********************************************/

.yellow{
    color: #ffa502;
}

.gray{
    color: #DDD;
}

#tour{
    background-color: #14171d;
}

#tour .yellow{
    color: #ffa502;
}

.video #tour-video{
    width: 50%;
    margin-left: 25%;
    margin-top: -7%;
}

#teaches-02{
    margin-top: 10%;
    background-color:  #14171d;
}

#teaches-02 .card{
    position: relative;
    top: -55%;
}

#teaches-02.bg-yellow{
    background-color: #ffa502;
}

#testimonial{
    background: #333;
}

#testimonial .title{
    font-size: 36px;
    letter-spacing: -2px;
    color: #fefefe;
    font-family: "Nunito";
    font-weight: 600;
    margin-bottom: 20px;
}

#testimonial .sub-title{
    font-size: 28px;
    color: #ffffff;
    font-family: "Nunito";
    font-weight: 700;
    font-style: italic;
    margin-bottom: 10px;
}

#testimonial .student-name{
    font-size: 14px;
    color: #ffffff;
    font-family: "Nunito";
    font-weight: 600;
    margin-bottom: 5px;
}

#testimonial .qualification{
    font-size: 14px;
    color: #ffffff;
    font-family: "Libre Baskerville";
    font-weight: 400;
    font-style: italic;
}

#blog{
    background-color: #edf1ff;
}

#blog .card-content{
    padding: 20px 20px 40px;
}

#blog .date{
    font-size: 12px;
    color: #ffa502;
    font-family: "Rubik";
    font-weight: 400;
    font-style: italic;
}

#blog .title{
    font-size: 24px;
    color: #252525;
    font-family: "Nunito";
    font-weight: 700;
}

#blog .card-title{
    font-size: 16px;
    color: #9599a2;
    font-family: "Nunito";
    font-weight: 400;
}

.author{
    font-size: 15px;
    color: #252525;
    font-family: "Nunito";
    font-weight: 400;
    font-style: italic;
    line-height: 30px;
}

.rounded-borders{
    border-radius: 30px;
}

#events{
    background-color: #edf1ff;
}

.bg-blue{
    background-color: #0086ff;
}

.bg-red{
    background-color: #ee2930;
}

.bg-dblue{
    background-color: #544cf9;
}

.bg-yellow{
    background-color: #ffa502;
}

.bg-white{
    background-color: #ffffff;
    opacity: 0.6;
    border: 1px solid #d5d5d3;
}

.event-card{
    margin: 20px 60px 20px 15px;
    padding: 0 20px; 
}

.event-card .event-date{
    font-size: 14px;
    color: #fdfdfe;
    font-family: "Nunito";
    font-weight: 100;
    padding-top: 10px;
    margin-bottom: 7px;
}

.event-card .day{
    font-size: 24px;
    font-weight: 600;
}

.event-card .event-year{
    font-size: 32px;
    color: #FFF;
    font-weight: bold;
}

.event-details{
    padding: 15px 15px 15px 30px;
}

.event-name{
    font-size: 16px;
    font-family: "Nunito";
    font-weight: 700;
}

.timings{
    color: #777;
}

.join-section{
    background-image: url('../assets/images/background-yellow.jpg');
    color: #FFF;
}

a.black{
    color: #333;
}

.button-white{
    background: #FFF;
    padding: 10px 50px;
    color: #000;
    position: relative;
    bottom: 40px;
    left: 90%; 
    border-radius: 30px;
}

.join-section p{
    font-size: 14px;
    position: relative;
    top: 20px;
}

.join-section h2{
    position: relative;
    top: 10px;
}

.footer{
    position: absolute;
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url('../assets/images/footer.jpg');
}

.content{
    margin-top: 10%;
    left: 3%;
}

.content .footer-hr{
    margin: 0;
    position: absolute;
    width: 20px;
    border-color: #CCC;
}

.content h2{
    font-size: 16px;
}

.content p{
    line-height: 40px;
}

.icons i{
    margin-right: 10px;
}

.icons i:hover{
    cursor: pointer;
}

.copy{
    position: absolute;
    width: 700px;
    text-align: center;
    right: 250px;
    bottom: -200px;
}

.primary{
    color: #ffa502;
}

.logo{
    position: absolute;
    top: 10%;
    left: 12%;
}

#contact-info{
    background-color: #ffa502;
    margin-bottom: 20%;
}

.contact-card-01{
    background-color: #FFF;
    padding: 40px 30px 20px;
}

.contact-details p{
    font-size: 14px;
    color: #636363;
    font-family: "Nunito";
    font-weight: 400;
    margin-bottom: 10px;
}

.social-list{
    text-align: center;
}

.contact-card{
    position: relative;
    height: 30vh;
}

.contact-card-01, 
.contact-card-02{
    position: absolute;
    top: 40%;
}

.contact-card-02{
    left: 40%;
}

.contact-card-01{
    border-radius: 3px;
    box-shadow: 0 3px 2.5px rgba(0,0,0,0.2);
    background-color: #fff;
}

.quote .heading1{
    font-weight: 600;
    margin-bottom: 1.5%;
}

.quote .text{
    width: 500px;
    position: absolute;
    left: 35%;
    font-size: 16px;
    color: #9fa4af;
    font-weight: 900;
}

.quote{
    margin-bottom: 15%;
}

.info{
    width: 80%;
    position: relative;
    left: 20%;
    bottom: 10%;
}

.primary-color{
    color: #ffa502;
}

.secondary-color{
    color: #9fa4af;
    position: relative;
    left: 4%;
}