img{
    max-width: 100%;
    height: auto;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Nunito', sans-serif;
}

p{
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

a,
a:hover, 
a:focus,
a:visited{
    text-decoration: none;
    color: #FFF;
}


ul li{
    display: inline-block;
}

/**********************************************
                HELPER CLASSES
**********************************************/

.m-b-0{
    margin-bottom: 0!important;
}

.m-10{
    margin: 10px!important;
}
.m-30{
    margin: 30px!important;
}
.m-50{
    margin: 50px!important;
}
.m-70{
    margin: 70px!important;
}
.m-90{
    margin: 90px!important;
}
.m-100{
    margin: 100px!important;
}
.m-120{
    margin: 120px!important;
}

.m-t-10{
    margin-top: 10px!important;
}
.m-t-30{
    margin-top: 30px!important;
}
.m-t-50{
    margin-top: 50px!important;
}
.m-t-70{
    margin-top: 70px!important;
}
.m-t-90{
    margin-top: 90px!important;
}
.m-t-100{
    margin-top: 100px!important;
}
.m-t-120{
    margin-top: 120px!important;
}

.m-b-10{
    margin-bottom: 10px!important;
}
.m-b-20{
    margin-bottom: 20px!important;
}
.m-b-30{
    margin-bottom: 30px!important;
}
.m-b-50{
    margin-bottom: 50px!important;
}
.m-b-70{
    margin-bottom: 70px!important;
}
.m-b-90{
    margin-bottom: 90px!important;
}
.m-b-100{
    margin-bottom: 100px!important;
}
.m-b-120{
    margin-bottom: 120px!important;
}

.m-lr-120{
    margin: 0 120px!important;
}

.p-0{
    padding: 0!important;
}
.p-100{
    padding: 100px!important;
}

.p-t-0{
    padding-top: 0!important;
}

.p-t-10{
    padding-top: 10px!important;
}

.p-t-20{
    padding-top: 20px!important;
}

.p-t-100{
    padding-top: 100px!important;
}

.p-b-0{
    padding-bottom: 0!important;
}
.p-b-100{
    padding-bottom: 100px!important;
}

.p-r-0{
    padding-right: 0!important;
}
.p-r-100{
    padding-right: 100px!important;
}

.p-l-0{
    padding-left: 0!important;
}
.p-l-20{
    padding-left: 20px!important;
}
.p-l-100{
    padding-left: 100px!important;
}

.p-200{
    padding: 0 200px!important;
}

/**********************************************
               CONTENT BOXES
**********************************************/
.content-box-lg{
    padding: 120px 0;
}

.content-box-md{
    padding: 100px 0;
}

.content-box-sm{
    padding: 90px 0;
}

.content-box-xs{
    padding: 30px 0;
}
