.heading h5{
    font-size: 13px;
    letter-spacing: 2px;
    color: #252525;
    font-family: "Nunito";
    font-weight: 700;
    text-transform: uppercase;
}

.heading h2{
    font-size: 36px;
    letter-spacing: -2px;
    color: #252525;
    font-family: "Nunito";
    font-weight: 600;
    margin-bottom: 0;
}

.heading .italic{
    font-family: "Libre Baskerville";
    font-style: italic;
    font-weight: 400;
}

.heading .highlight-heading{
    color: $mainYellow;
}

.text{
    text-align: justify;
}

.heading .white{
    color: #FFF;
}