#contact-info{
    background-color: $mainYellow;
    margin-bottom: 20%;
}

.contact-card-01{
    background-color: #FFF;
    padding: 40px 30px 20px;
}

.contact-details p{
    font-size: 14px;
    color: #636363;
    font-family: "Nunito";
    font-weight: 400;
    margin-bottom: 10px;
}

.social-list{
    text-align: center;
}

.contact-card{
    position: relative;
    height: 30vh;
}

.contact-card-01, 
.contact-card-02{
    position: absolute;
    top: 40%;
}

.contact-card-02{
    left: 40%;
}

.contact-card-01{
    border-radius: 3px;
    box-shadow: 0 3px 2.5px rgba(0,0,0,0.2);
    background-color: #fff;
}
.quote .heading1{
    font-weight: 600;
    margin-bottom: 1.5%;
}
.quote .text{
    width: 500px;
    position: absolute;
    left: 35%;
    font-size: 16px;
    color: #9fa4af;
    font-weight: 900;
}
.quote{
    margin-bottom: 15%;
}
.info{
    width: 80%;
    position: relative;
    left: 20%;
    bottom: 10%;
}
.primary-color{
    color: $mainYellow;
}
.secondary-color{
    color: #9fa4af;
    position: relative;
    left: 4%;
}