#courses{
    background-color: #edf1ff;
}

#courses.white{
    background-color: #FFF;
}

.card-content{
    background: #FFF;
    padding: 20px;
}

.card-image{
    padding-bottom: 5%;
    position: relative;
}

.badge:before{
    content: "";
    border-top: 10px solid transparent;
    border-left: 15px solid #eccc68;;
    border-right: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: -10px;
}

.badge{
    position: absolute;
    border-radius: 0;
    background: $mainYellow;
    top: 10px;   
    right: -15px;
    color: #FFF;
    font-size: 14px;
    font-family: "Rubik";
    font-weight: 500;
    padding: 0 15px;
    height: 30px;
}

.badge p{
    margin-bottom: 0!important;
    line-height: 30px;
}

.card-image img{
    width: 100%;
}

.card-text{
    font-size: 16px;
    color: #9599a2;
    font-family: "Nunito";
    font-weight: 400;
}

.card-content h3{
    font-size: 18px;
    color: #252525;
    font-family: "Nunito";
    font-weight: 700;
}

.stars,
.comments{
    margin-right: 10px;
}

.comments,
.heart{
    font-size: 16px;
    color: #9599a2;
    font-family: "Rubik";
    font-weight: 300;
}

.person img{
    border-radius: 50%;
}

.border-right{
    border-right: solid 2px #CCC;
}

.course-info h2{
    font-size: 14px;
    line-height: 24px;
    color: #252525;
    font-family: "Rubik";
    font-weight: 500;
}

.course-info h5{
    color: #9599a2;
    font-size: 12px;
}


/**********************************************
                  COLOR 
**********************************************/

.yellow{
    color: $mainYellow;
}

.gray{
    color: #DDD;
}