
.col2{
    float: right;
    margin-top: 0;
}
.badge{
    border-radius: 100%;
}
.ul-link{
    border-radius: 10%;
}
.social{
    float: right;
    display: inline;
    padding-left: 0;
}
.social-color{
    color: $mainYellow;
}
.author{
    padding: 0;
    float: right;
    background-image: image(../assets/images/student.jpg);
}
ul{
    padding-left: 0;
}