#testimonial{
    background: #333;
}

#testimonial .title{
    font-size: 36px;
    letter-spacing: -2px;
    color: #fefefe;
    font-family: "Nunito";
    font-weight: 600;
    margin-bottom: 20px;
}

#testimonial .sub-title{
    font-size: 28px;
    color: #ffffff;
    font-family: "Nunito";
    font-weight: 700;
    font-style: italic;
    margin-bottom: 10px;
}

#testimonial .student-name{
    font-size: 14px;
    color: #ffffff;
    font-family: "Nunito";
    font-weight: 600;
    margin-bottom: 5px;
}

#testimonial .qualification{
    font-size: 14px;
    color: #ffffff;
    font-family: "Libre Baskerville";
    font-weight: 400;
    font-style: italic;
}